<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huicai.base.system.mapper.VoucherTypeMapper">

    <sql id="BaseColumns">
        id, code, name, sort_order, numbering_rule,
        is_active, remark, created_by, created_at, updated_by, updated_at, deleted
    </sql>

</mapper>