<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huicai.base.voucher.mapper.VoucherEntryMapper">

    <select id="selectByVoucherId" resultType="com.huicai.module.finance.entity.VoucherEntryEntity">
        SELECT * FROM t_voucher_entry
        WHERE voucher_id = #{voucherId}
        ORDER BY sort_order ASC
    </select>

    <insert id="batchInsert">
        INSERT INTO t_voucher_entry (id, voucher_id, subject_id, debit, credit, summary, assist_json, sort_order)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.voucherId}, #{item.subjectId}, #{item.debit}, #{item.credit},
             #{item.summary}, #{item.assistJson}::jsonb, #{item.sortOrder})
        </foreach>
    </insert>

    <delete id="deleteByVoucherId">
        DELETE FROM t_voucher_entry WHERE voucher_id = #{voucherId}
    </delete>

</mapper>
