<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huicai.base.voucher.mapper.VoucherTemplateMapper">

    <select id="selectActiveByClassification"
            resultType="com.huicai.base.voucher.entity.VoucherTemplateEntity">
        SELECT * FROM t_voucher_template
        WHERE doc_type = #{classification}
          AND is_active = TRUE
          AND deleted = 0
        LIMIT 1
    </select>

    <select id="selectAllActive"
            resultType="com.huicai.base.voucher.entity.VoucherTemplateEntity">
        SELECT * FROM t_voucher_template
        WHERE is_active = TRUE AND deleted = 0
        ORDER BY template_code
    </select>

</mapper>
