<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huicai.module.finance.mapper.BusinessDocEntryMapper">
    <select id="selectByDocId" resultType="com.huicai.module.finance.entity.BusinessDocEntryEntity">
        SELECT * FROM t_business_doc_entry WHERE doc_id = #{docId} ORDER BY sort_order ASC
    </select>
    <delete id="deleteByDocId">
        DELETE FROM t_business_doc_entry WHERE doc_id = #{docId}
    </delete>
</mapper>
